.list{
    p{
        display: inline-block;
    }
    img{
        float: right;
        margin: 5px;
        height: 50px;
        
    }
}
.item{
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px #b7bfca;
    border-bottom: 1px #e8ebf2;
    border-radius: 6px;

}